{#{% macro link (routeName, label) %}#}
{#<li class="nav-item"{% if app.request.attributes.get('_route') == routeName %} active >#}
{#    <a class="nav-link " href="{{ path (routName) }}">#}
{#        {{ label|trans }}#}
{#    </a>#}
{#</li>#}

{#{% endmacro %}#}