<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
        </style>
        {% block stylesheets %}

            <style>
                *{
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    transition-duration: 0.3s;
                }

                *:not(input){
                    margin: 0;
                    padding: 0;
                    border: 0;
                }

                body{
                    font-family: 'Poppins', sans-serif;
                }

                nav{
                    color: hotpink;
                    background-color: crimson;
                    padding:20px;
                }

                ul{
                    list-style: none;
                }

                body{
                    background-color: hotpink;
                }

                li{
                    display: inline-block;
                   list-style: none;
                }

                ul li{
                    justify-content: space-between;
                }
            </style>
        {% endblock %}

    </head>

    <body class="container">
    {% block navbar %}
        {% include 'navbar.html.twig' %}
    {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
