
<nav>
    <ul ">
    <li><a href="{{ path('homepage') }}">Home</a></li>
    <li>Portfolio</li>
    <li>About me</li>
    <li>Contact</li>
    <li><a href="{{ path('terms of services') }}">Terms</a></li>
    <li><a href="{{ path('app_login') }}">Login</a></li>
    </ul>
</nav>